<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Logimad | Nosotros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/public/assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="icon" type="image/icon" href="images/icons/favicon.png">
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menumaker.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/line-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/slicknav.min.css" />
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/public/assets/css/responsive.css" rel="stylesheet">
</head>

<body>
    <div id="nav-bar" class="nav-bar-main-block absolute">
        <div class="sticky-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="logo">
                            <a href="/" title="logo">
                                <img src="/public/assets/images/logiMad-png.png" alt="logo" width="200">
                            </a>
                        </div>
                        <div class="responsive-menu-wrap"></div>
                    </div>
                    <div class="col-lg-9">
                        <div class="navigation text-white theme-2">
                            <div id="cssmenu">
                                <ul>
                                    <%if (user == undefined) {%>
                                    <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                    <li class=""><a href="/faq" title="FAQs">FAQS</a></li>
                                    <li class=""><a href="/contact" title="Contacto">Contacto</a></li>
                                    <li class="active"><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                    <li><a href="/auth/login" class="btn btn-primary" title="Acceder">Acceder</a></li>
                                    <% } else { %>
                                    <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                    <li class=""><a href="/faq" title="FAQs">FAQS</a></li>
                                    <li class=""><a href="/contact" title="Contacto">Contacto</a></li>
                                    <li class="active"><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                    <li class="has-sub">
                                        <span class="submenu-button"></span>
                                        <span class="submenu-button"></span>
                                        <a href="#" title="Envíos">Envíos</a>
                                        <ul>
                                            <li class=""><a href="/track" title="Seguimiento">Seguimiento</a></li>
                                            <li class=""><a href="/ship/address" title="Enviar">Enviar</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub">
                                        <span class="submenu-button"></span>
                                        <span class="submenu-button"></span>
                                        <a href="#" title="Envíos"><i class="bi bi-person-circle"></i> <%= user.name %></a>
                                        <ul>
                                            <li><a href="/profile" class="btn btn-danger" title="Ver perfil">Perfil</a></li>
                                            <li><a href="/auth/logout" class="btn btn-danger" title="Salir de la sesión">Cerrar
                                                    sesión</a></li>
                                        </ul>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcroumb-area bread-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcroumb-title text-center">
                        <h1>Sobre Nosotros</h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- about start-->
    <div id="about" class="about-main-block theme-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-left" ><img src="/public/assets/images/about-men-2.png" alt=""></div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <h1 class="section-heading">Somos un servicio top <br>en la ciudad</h1>
                        <h5 class="wow slideInUp">Nosotros nos encargamos de tus paquetes, no te tendrás que preocupar por nada. Nos encargamos de empaquetarlos y de que lleguen a su destino sanos y salvos.</h5>
                        <p class="wow slideInDown">Con nosotros siempre acabarás satisfecho, y, si no es así, haremos todo lo posible para arreglarlo. Las siguientes características nos definen:</p>
                        <div class="key-feature">
                            <i class="las la-chevron-circle-right"></i>
                            <p>Envíos rápidos</p>
                            <i class="las la-chevron-circle-right"></i>
                            <p>Seguridad</p>
                            <i class="las la-chevron-circle-right"></i>
                            <p>Buen servicio al cliente</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="about-block-two">
                        <div class="about-icon-two">
                            <img src="/public/assets/images/icons/about-01.png" class="img-fluid" alt="about-img">
                        </div>
                        <div class="about-dtl-two">
                            <h4 class="about-heading">Nuestra Estrategia</h4>
                            <p>Contacta con nosotros para acordar precios y tiempos de entrega (dependerá de lo que desees envíar).</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-block-two">
                        <div class="about-icon-two">
                            <img src="/public/assets/images/icons/about-03.png" class="img-fluid" alt="about-img">
                        </div>
                        <div class="about-dtl-two">
                            <h4 class="about-heading">Manos a la Obra</h4>
                            <p>Una vez acordado todo, nos ponemos manos a la obra y empeazamos con el empaquetado.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-block-two">
                        <div class="about-icon-two">
                            <img src="/public/assets/images/icons/about-02.png" class="img-fluid" alt="about-img">
                        </div>
                        <div class="about-dtl-two">
                            <h4 class="about-heading-two">Entrega Segura</h4>
                            <p>Finalmente, entregamos tu paquete sin ningún rasguño y sin ningún retraso.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about end-->

    <!-- facts start-->
    <div id="facts" class="facts-main-block" style="background-image: url('images/bg/facts-bg.png')">
        <div class="container">
            <div class="row no-gutters text-white">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="facts-block text-center mrg-btm-30">
                        <h1 class="facts-heading text-white ">1.000+</h1>
                        <div class="facts-heading-sign text-white"></div>
                        <div class="facts-dtl">Clientes Satisfechos</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="facts-block text-center mrg-btm-30">
                        <h1 class="facts-heading text-white ">1</h1>
                        <div class="facts-heading-sign text-white"></div>
                        <div class="facts-dtl">Oficina en España</div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="facts-block text-center mrg-btm-30">
                        <h1 class="facts-heading text-white ">1</h1>
                        <div class="facts-dtl">País operativo</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="facts-block text-center mrg-btm-30">
                        <h1 class="facts-heading text-white ">4.6 / 5</h1>
                        <div class="facts-heading-sign text-white"></div>
                        <div class="facts-dtl">Puntuación de satisfacción</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer id="footer" class="footer-main-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright-block">
                        <p>&copy; 2022 <a href="/" title="LogiMad">LogiMad</a>. Todos los
                            derechos <a href="#" title="">reservados</a>.</p>
                    </div>
                </div>
                <!-- <div class="col-md-6 text-right">
                        <div class="copyright-social">
                            <ul>
                                <li class="policy"><a href="#" title="Privacy Policy">Privacy Policy </a></li>
                                <li><a href="#" title="Terms &amp;Conditions"> Terms &amp; Conditions </a></li>
                                <li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" title="English"><i
                                            class="las la-globe"></i>English<i class="las la-caret-square-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" title="French">French</a></li>
                                        <li><a href="#" title="Germany">Germany</a></li>
                                        <li><a href="#" title="Urdu">Bengali</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div> -->
            </div>
        </div>
    </footer>
    <!-- footer end-->

    <!-- Scroll Top Area -->
    <a href="#top" class="go-top" style="display:block;"><i class="las la-angle-up"></i></a>

    <!-- Jquery Library -->
    <script src="/public/assets/js/jquery-2.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="/public/assets/js/bootstrap.bundle.js"></script>
    <!-- Owl Carousel js -->
    <script src="/public/assets/js/owl.carousel.min.js"></script>
    <!-- Smooth Scroll Js -->
    <script src="/public/assets/js/smooth-scroll.js"></script>
    <!-- Navigation JS -->
    <script src="/public/assets/js/menumaker.js"></script>
    <!-- Way Points JS -->
    <script src="/public/assets/js/waypoints.min.js"></script>
    <!-- Counter Up JS -->
    <script src="/public/assets/js/jquery.counterup.js"></script>
    <!-- Sticky JS -->
    <script src="/public/assets/js/jquery.sticky.js"></script>
    <!-- Slicknav JS -->
    <script src="/public/assets/js/jquery.slicknav.min.js"></script>
    <!-- Mail Chimp JS -->
    <script src="/public/assets/vendor/mailchimp/jquery.ajaxchimp.js"></script>
    <!-- Main JS -->
    <script src="/public/assets/js/theme.js"></script><!-- end JS -->
</body><!-- body end -->

</html>