
<!DOCTYPE html>
<html lang="en">
<!-- head -->

<head>
    <meta charset="utf-8" />
    <title>Logimad | Contacto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/public/assets/images/favicon.png">
    <meta name="MobileOptimized" content="320" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="icon" type="image/icon" href="/public/assets/images/icons/favicon.png">
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menumaker.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/line-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/slicknav.min.css" />
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/public/assets/css/responsive.css" rel="stylesheet">
</head>

<body>
    <div id="nav-bar" class="nav-bar-main-block absolute">
        <div class="sticky-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="logo">
                            <a href="/" title="logo">
                                <img src="/public/assets/images/logiMad-png.png" alt="logo" width="200">
                            </a>
                        </div>
                        <div class="responsive-menu-wrap"></div>
                    </div>
                    <div class="col-lg-9">
                        <div class="navigation text-white theme-2">
                            <div id="cssmenu">
                                <ul>
                                    <%if (user == undefined) {%>
                                    <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                    <li class=""><a href="/faq" title="FAQs">FAQS</a></li>
                                    <li class="active"><a href="/contact" title="Contacto">Contacto</a></li>
                                    <li class=""><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                    <li><a href="/auth/login" class="btn btn-primary" title="Acceder">Acceder</a></li>
                                    <% } else { %>
                                    <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                    <li class=""><a href="/faq" title="FAQs">FAQS</a></li>
                                    <li class="active"><a href="/contact" title="Contacto">Contacto</a></li>
                                    <li class=""><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                    <li class="has-sub">
                                        <span class="submenu-button"></span>
                                        <span class="submenu-button"></span>
                                        <a href="#" title="Envíos">Envíos</a>
                                        <ul>
                                            <li class=""><a href="/track" title="Seguimiento">Seguimiento</a></li>
                                            <li class=""><a href="/ship" title="Enviar">Enviar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/auth/logout" class="btn btn-danger" title="Salir de la sesión">Cerrar
                                            sesión</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcroumb-area bread-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcroumb-title text-center">
                        <h1>Contacta con nosotros</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Dónde encontrarnos</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h5>Oficina Madrid</h5>
                            <div class="contact-detail">
                                <p><i class="las la-mobile"></i><b>Teléfono:</b><span>+34 123 123 123</span><span>+91 321 321 321</span></p>
                            </div>
                            <div class="contact-detail">
                                <p><i class="las la-map-marker"></i><b>Dirección:</b><span>C. de Julián Camarillo, 6A 28037
                                    </span><span>Madrid, España</span></p>
                            </div>
                            <div class="contact-detail">
                                <p><i class="las la-envelope"></i><b>Email:</b><span>info@logimad.com</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form">
                        <h3>Contáctanos</h3>
                        <form name="contact-form" id="contactForm" action="sendemail.php" method="POST"><input
                                type="text" name="name" id="name" required="" placeholder="Nombre"><input
                                type="email" name="email" id="email" required="" placeholder="E-mail"><input
                                type="text" name="subject" id="subject" placeholder="Asunto"><textarea name="subject"
                                id="message" cols="30" rows="10" required=""
                                placeholder="¿Cómo podemos ayudarte?"></textarea><button class="btn btn-primary" type="submit"
                                name="submit">Enviar</button></form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- clients start-->
    <div id="clients" class="clients-main-block">
        <div class="container">
            <div class="row">
                <div id="clients-slider" class="clients-slider owl-carousel">
                    <div class="item-clients-img"><img src="/public/assets/images/clients/01.png" class="img-fluid" alt="clients-1">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/02.png" class="img-fluid" alt="clients-2">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/03.png" class="img-fluid" alt="clients-3">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/04.png" class="img-fluid" alt="clients-4">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/05.png" class="img-fluid" alt="clients-4">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- clients end-->
    <!-- footer start-->
    <footer id="footer" class="footer-main-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright-block">
                        <p>&copy; 2022 <a href="/" title="LogiMad">LogiMad</a>. Todos los
                            derechos <a href="#" title="">reservados</a>.</p>
                    </div>
                </div>
                <!-- <div class="col-md-6 text-right">
                        <div class="copyright-social">
                            <ul>
                                <li class="policy"><a href="#" title="Privacy Policy">Privacy Policy </a></li>
                                <li><a href="#" title="Terms &amp;Conditions"> Terms &amp; Conditions </a></li>
                                <li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" title="English"><i
                                            class="las la-globe"></i>English<i class="las la-caret-square-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" title="French">French</a></li>
                                        <li><a href="#" title="Germany">Germany</a></li>
                                        <li><a href="#" title="Urdu">Bengali</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div> -->
            </div>
        </div>
    </footer><!-- footer end-->
    <!-- Scroll Top Area --><a href="#top" class="go-top" style="display: block;"><i class="las la-angle-up"></i></a>
    <!-- Jquery Library -->
    <script src="/public/assets/js/jquery-2.min.js"></script><!-- Bootstrap Js -->
    <script src="/public/assets/js/bootstrap.bundle.js"></script><!-- Owl Carousel js -->
    <script src="/public/assets/js/owl.carousel.min.js"></script><!-- Smooth Scroll Js -->
    <script src="/public/assets/js/smooth-scroll.js"></script><!-- Navigation JS -->
    <script src="/public/assets/js/menumaker.js"></script><!-- Way Points JS -->
    <script src="/public/assets/js/waypoints.min.js"></script><!-- Counter Up JS -->
    <script src="/public/assets/js/jquery.counterup.js"></script><!-- Sticky JS -->
    <script src="/public/assets/js/jquery.sticky.js"></script><!-- Slicknav JS -->
    <script src="/public/assets/js/jquery.slicknav.min.js"></script><!-- Mail Chimp JS -->
    <script src="vendor/mailchimp/jquery.ajaxchimp.js"></script><!-- Main JS -->
    <script src="/public/assets/js/theme.js"></script><!-- end JS -->
</body><!-- body end -->

</html>