<!DOCTYPE html>
<html lang="es">
<!-- head -->

<head>
    <meta charset="utf-8" />
    <title>LogiMad | FAQs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/public/assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="icon" type="image/icon" href="/public/assets/images/icons/favicon.png">
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menumaker.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/line-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/slicknav.min.css" />
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/public/assets/css/responsive.css" rel="stylesheet">
</head>
<body>
    <div id="nav-bar" class="nav-bar-main-block absolute">
        <div class="sticky-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="logo">
                            <a href="/" title="logo">
                                <img src="/public/assets/images/logiMad-png.png" alt="logo" width="200">
                            </a>
                        </div>
                        <div class="responsive-menu-wrap"></div>
                    </div>
                    <div class="col-lg-9">
                        <div class="navigation text-white theme-2">
                            <div id="cssmenu">
                                <ul>
                                    <%if (user == undefined) {%>
                                    <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                    <li class="active"><a href="/faq" title="FAQs">FAQS</a></li>
                                    <li class=""><a href="/contact" title="Contacto">Contacto</a></li>
                                    <li class=""><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                    <li><a href="/auth/login" class="btn btn-primary" title="Acceder">Acceder</a></li>
                                    <% } else { %>
                                    <li class=""><a href="/" title="Inicio">Inicio</a></li>
                                    <li class="active"><a href="/faq" title="FAQs">FAQS</a></li>
                                    <li class=""><a href="/contact" title="Contacto">Contacto</a></li>
                                    <li class=""><a href="/about" title="Sobre Nosotros">Nosotros</a></li>
                                    <li class="has-sub">
                                        <span class="submenu-button"></span>
                                        <span class="submenu-button"></span>
                                        <a href="#" title="Envíos">Envíos</a>
                                        <ul>
                                            <li class=""><a href="/track" title="Seguimiento">Seguimiento</a></li>
                                            <li class=""><a href="/ship" title="Enviar">Enviar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/auth/logout" class="btn btn-danger" title="Salir de la sesión">Cerrar
                                            sesión</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcroumb-area bread-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcroumb-title text-center">
                        <h1>Preguntas frecuentes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- faq start-->
    <div id="faq" class="faq-main-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h6>Preguntas realizadas por clientes</h6>
                        <h2>FAQs</h2>
                    </div>
                    <div class="styled-faq">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h6 class="panel-title"><a role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">¿Cuándo llegará mi paquete? <i
                                                class="las la-angle-up"></i><i class="las la-angle-down"></i></a></h6>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <div class="panel-body">Su paquete debe llegar en la fecha y hora de entrega estimada.
                                         Con el código de seguimiento, puede controlar su envío y ver la fecha y hora estimadas de entrega. <br>
                                        Puede realizar el seguimiento de su pedido en el apartado de "Seguimiento".</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading active" role="tab" id="headingTwo">
                                    <h6 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">¿Qué sucede cuando no hay nadie en mi casa u oficina para aceptar un envío? <i
                                                class="las la-angle-up"></i><i class="las la-angle-down"></i></a></h6>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel"
                                    aria-labelledby="headingTwo">
                                    <div class="panel-body">Si no hay nadie disponible para aceptar su envío en la dirección de entrega, su conductor dejará una etiqueta de puerta. 
                                        Verifique la etiqueta de puerta para ver si entregamos su paquete 
                                        en una dirección cercana o para ver la información de seguimiento y la fecha del próximo intento de entrega.</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h6 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">¿Cómo envío muestras?<i
                                                class="las la-angle-up"></i><i class="las la-angle-down"></i></a></h6>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingThree">
                                    <div class="panel-body">Una muestra es un producto destinado a determinar cómo se verá el artículo final, como la calidad,
                                         el color y el estándar para posibles ventas futuras. La muestra es un prototipo de producción que no se puede revender y, 
                                         a menudo, se marca como tal, por ejemplo, rasgado, cortado o como un solo artículo en un par, como un guante o un zapato.</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h6 class="panel-title"><a role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseFour" aria-expanded="true"
                                            aria-controls="collapseFour">¿Por qué mi paquete está retenido en aduanas?
                                            <i class="las la-angle-up"></i><i class="las la-angle-down"></i></a></h6>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingFour">
                                    <div class="panel-body">Los envíos se retienen para garantizar que cumplan con las normativas aduaneras de exportación o importación
                                         Esto puede deberse a documentación faltante o incompleta, a la espera de instrucciones de despacho o porque
                                          las autoridades pueden necesitar más información para despachar las mercancías. 
                                        Hasta que podamos proporcionar toda la información a las autoridades, no podemos procesar 
                                        el envío para su despacho (a menos que haya elegido utilizar su propio agente aduanero). </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading active" role="tab" id="headingFive">
                                    <h6 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">¿Qué es la tarifa por desembolso?
                                            <i class="las la-angle-up"></i><i class="las la-angle-down"></i></a></h6>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingFive">
                                    <div class="panel-body">LogiMad puede pagar los aranceles e impuestos en su nombre.
                                         Eso significa que hay una tarifa, también conocida como tarifa por desembolso, que forma parte de nuestros cargos auxiliares. </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h6 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                                            aria-controls="collapseSix">¿Cuánto cuesta un envío? <i
                                                class="las la-angle-up"></i><i class="las la-angle-down"></i></a></h6>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingSix">
                                    <div class="panel-body">El coste de un envío se basa en su contenido, peso, tamaño, origen, destino y servicio de envío escogido. 
                                        El coste exacto de su envío se calculará cuando proporcione estos detalles en el sistema de reservas. 
                                        LofiMad puede verificar el peso y el volumen de su envío. </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading active" role="tab" id="headingSeven">
                                    <h6 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseSeven" aria-expanded="false"
                                            aria-controls="collapseSeven">¿Puedo negarme a aceptar un paquete internacional?
                                            <i class="las la-angle-up"></i><i class="las la-angle-down"></i></a></h6>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingSeven">
                                    <div class="panel-body">Como cliente, tiene derecho a no aceptar un paquete internacional si, por ejemplo, se dañó, canceló su pedido o cambió de opinión.</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingEight">
                                    <h6 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseEight" aria-expanded="false"
                                            aria-controls="collapseEight">¿Qué significa el estado «En camino»? <i
                                                class="las la-angle-up"></i><i class="las la-angle-down"></i></a></h6>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingEight">
                                    <div class="panel-body">«En camino significa que su paquete está en camino a su destino final.
                                         No significa necesariamente que su paquete esté en un vehículo en movimiento, como un avión o un camión.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="question-section">
                        <h6>¿Tienes alguna pregunta?</h6>
                        <form action="sendemail.php"><input type="text" name="name" id="name" required=""
                                placeholder="Nombre"><input type="email" name="email" id="email" required=""
                                placeholder="E-mail"><textarea name="message" id="message" cols="30" rows="10"
                                required="" placeholder="¿Cómo podemos ayudarte?"></textarea><button
                                class="btn btn-primary" type="submit" name="submit">Enviar</button></form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- faq end-->
    <!-- clients start-->
    <div id="clients" class="clients-main-block">
        <div class="container">
            <div class="row">
                <div id="clients-slider" class="clients-slider owl-carousel">
                    <div class="item-clients-img"><img src="/public/assets/images/clients/01.png" class="img-fluid" alt="clients-1">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/02.png" class="img-fluid" alt="clients-2">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/03.png" class="img-fluid" alt="clients-3">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/04.png" class="img-fluid" alt="clients-4">
                    </div>
                    <div class="item-clients-img"><img src="/public/assets/images/clients/05.png" class="img-fluid" alt="clients-4">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- clients end-->
    <!-- footer start-->
    <footer id="footer" class="footer-main-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright-block">
                        <p>&copy; 2022 <a href="/" title="LogiMad">LogiMad</a>. Todos los
                            derechos <a href="#" title="">reservados</a>.</p>
                    </div>
                </div>
                <!-- <div class="col-md-6 text-right">
                        <div class="copyright-social">
                            <ul>
                                <li class="policy"><a href="#" title="Privacy Policy">Privacy Policy </a></li>
                                <li><a href="#" title="Terms &amp;Conditions"> Terms &amp; Conditions </a></li>
                                <li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" title="English"><i
                                            class="las la-globe"></i>English<i class="las la-caret-square-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" title="French">French</a></li>
                                        <li><a href="#" title="Germany">Germany</a></li>
                                        <li><a href="#" title="Urdu">Bengali</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div> -->
            </div>
        </div>
    </footer><!-- footer end-->
    <!-- Scroll Top Area --><a href="#top" class="go-top" style="display: block;"><i class="las la-angle-up"></i></a>
    <!-- Jquery Library -->
    <script src="/public/assets/js/jquery-2.min.js"></script><!-- Bootstrap Js -->
    <script src="/public/assets/js/bootstrap.bundle.js"></script><!-- Owl Carousel js -->
    <script src="/public/assets/js/owl.carousel.min.js"></script><!-- Smooth Scroll Js -->
    <script src="/public/assets/js/smooth-scroll.js"></script><!-- Navigation JS -->
    <script src="/public/assets/js/menumaker.js"></script><!-- Way Points JS -->
    <script src="/public/assets/js/waypoints.min.js"></script><!-- Counter Up JS -->
    <script src="/public/assets/js/jquery.counterup.js"></script><!-- Sticky JS -->
    <script src="/public/assets/js/jquery.sticky.js"></script><!-- Slicknav JS -->
    <script src="/public/assets/js/jquery.slicknav.min.js"></script><!-- Mail Chimp JS -->
    <script src="vendor/mailchimp/jquery.ajaxchimp.js"></script><!-- Main JS -->
    <script src="/public/assets/js/theme.js"></script><!-- end JS -->
</body><!-- body end -->

</html>