<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Inicio - Hotel Marinero </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" type="text/css" href="/public/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/revolution/css/settings.css">
  <link rel="stylesheet" type="text/css" href="/public/revolution/css/navigation.css">
  <link rel="stylesheet" type="text/css" href="/public/css/line-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/js/lib/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/public/js/lib/slick/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="/public/css/flatpickr.min.css">
  <link href="/public/img/logo.png" rel="shortcut icon">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <link rel="stylesheet" type="text/css" href="/public/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="/public/css/color.css">
</head>

<body align="center">
  <div class="layout hpg9 hp9">
    <header class="pb hp_9 static">
      <div class="ttop_header">
        <div class="container">
          <ul class="social-links">
            <li><a href="https://www.facebook.com/hotelmarineroinn" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://www.instagram.com/hotelmarineroinn/" target="_blank"><i
                  class="fa fa-instagram"></i></a></li>
            <li><a target="_blank"
                href="https://www.google.com/maps/place/Hotel+Marinero+Inn/@-0.5813377,-80.4135568,15z/data=!4m8!3m7!1s0x0:0xd6ee97e0d3e2d2f6!5m2!4m1!1i2!8m2!3d-0.5813377!4d-80.4135568"><i
                  class="fa fa-google"></i></a></li>
          </ul>
          <ul class="cont-list">
            <li class="phone-no"><img src="/public/images/icon10.png" alt="">+593 98 322 5470</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="bbtm-header">
        <div class="container">
          <div class="ft-logo">
            <a href="/"><img src="/public/img/logo.png" width="auto" height="79" alt=""></a>
          </div>
          <nav>
            <ul>
              <li><a class="active" href="/">Inicio</a></li>
              <li><a href="/galeria">Galería</a></li>
            </ul>
          </nav>
          <div class="menu-bar">
            <a href="#">
              <span class="bar1"></span>
              <span class="bar2"></span>
              <span class="bar3"></span>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
    </header>
    <div class="responsive_mobile_menu">
      <div class="resp_head">
        <div class="ft-logo">
          <a href="/">
            <img src="/public/img/logo-mini.png" alt="Marinero Inn" width="auto" height="50px">
            <div class="ft-text">
              <h2>Marinero</h2>
              <h3>Hotel & Restaurant</h3>
            </div>
          </a>
        </div>
        <div class="menu-bar">
          <a href="#">
            <span class="bar1"></span>
            <span class="bar2"></span>
            <span class="bar3"></span>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <br>
      <div class="navigations">
        <ul>
          <li><a class="active" href="/">Inicio</a></li>
          <li><a href="/galeria">Galería</a></li>
        </ul>
      </div>
      <ul class="mbl_contact_info">
        <li>San Vicente, Manabí, Ecuador</li>
        <li><a
            href=https://www.google.com/maps/place/Hotel+Marinero+Inn/@-0.5813377,-80.4135568,15z/data=!4m8!3m7!1s0x0:0xd6ee97e0d3e2d2f6!5m2!4m1!1i2!8m2!3d-0.5813377!4d-80.4135568">Ver
            ubicación en Google Maps</a> </li> <li><a href="mailto:reservas@hotelmarineroinn.com"
              class="__cf_email__">reservas@hotelmarineroinn.com</a></li>
      </ul>
    </div>
    <div class="col-md-5 offset-md-1">
      <div class="wrap-content">
        <h1 class="h1 bold text-sand text-uppercase">
          Error </h1>
        <p class="text-sand">
          La página que estabas buscando no está disponible. </p>
        <a href="javascript:history.back()" class="main-button bg-blue text-sand Athelas-BoldI">Regresar</a>
      </div>
    </div>
    <br><br>
  </div>
  <a href="#" class="scrollTop"><i class="la la-arrow-up"></i></a>
  <div class="max-cont"></div>

</body>

</html>